<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <!--<switches>
      <add name="jgr.grammar.bnf" value="4"/>
      <add name="jgr.grammar.fsm" value="4"/>
    </switches>-->
    <trace>
      <listeners>
        <add name="TextLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="SimisFile.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>