<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimisEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimisEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SimisEditor.Properties.Settings>
            <setting name="UpdateCheckCodePlexReleaseDate" serializeAs="String">
                <value>2009-11-15</value>
            </setting>
            <setting name="UpdateCheckCodePlexProjectUrl" serializeAs="String">
                <value>jgrmsts</value>
            </setting>
            <setting name="UpdateCheckCodePlexProjectName" serializeAs="String">
                <value>Simis Editor</value>
            </setting>
            <setting name="AboutHomepageUrl" serializeAs="String">
                <value>http://jgrmsts.codeplex.com/</value>
            </setting>
            <setting name="AboutUpdatesUrl" serializeAs="String">
                <value>http://jgrmsts.codeplex.com/Release/ProjectReleases.aspx</value>
            </setting>
            <setting name="AboutIssuesUrl" serializeAs="String">
                <value>http://jgrmsts.codeplex.com/WorkItem/List.aspx</value>
            </setting>
            <setting name="AboutDiscussionsUrl" serializeAs="String">
                <value>http://jgrmsts.codeplex.com/Thread/List.aspx</value>
            </setting>
        </SimisEditor.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SimisEditor.Properties.Settings>
            <setting name="UpdateCheckLastTime" serializeAs="String">
                <value />
            </setting>
        </SimisEditor.Properties.Settings>
    </userSettings>
    <system.diagnostics>
        <switches>
            <!--<add name="jgr.grammar.bnf" value="4"/>-->
            <!--<add name="jgr.grammar.fsm" value="4"/>-->
            <!--<add name="jgr.io.parser.simisreader" value="4"/>-->
        </switches>
        <trace>
            <listeners>
                <add name="TextLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="SimisEditor.log"/>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>